html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    scroll-behavior: smooth;
}

/*Floating Back-To-Top Button*/ 
#myBtn { 
    position: fixed; 
    bottom: 10px; 
    float: right; 
    right: 1.0%; 
    max-width: 50px; 
    max-height: 50px; 
    width: 50.0%; 
    height: 50.0%; 
    font-size: 24px; 
    border-color: rgba(85, 85, 85, 0.2); 
    background-color: rgb(148, 129, 129); 
    padding: 5px; border-radius: 50px; 
} 
/*On Hover Color Change*/ 
#myBtn:hover { 
    background-color: #7dbbf1; 
}

.navbar {
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: white;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 300;
}

.navbar a:hover {
    text-decoration: underline;
}

.frontpage {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url('backgroundimage.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.mission {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url('https://raw.githubusercontent.com/AtharvaK123/Sites-For-All.github.io/main/assets/ourMissionBg.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.frontpage h1 {
    font-size: 60px;
}

.frontpage h2 {
    font-size: 40px;
}

.frontpage p {
    font-size: 20px;
}

.frontpage h1, h2, p, a {
    padding: 0;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 10px black;
}

.frontpage-items-container {
    padding: 0;
    margin: 0;
    padding-top: 100px;
    margin-left: 100px;
}

.aboutus-items-container {
    padding: 0;
    margin: 0;
    padding-top: 100px;
    margin-left: 100px;
    width: 45%
}

.b2 {
    background-color: #5D5D5B;
    background-image: none;
}
.b3 {
    background-color: #454A45;
    background-image: none;
}
.b4 {
    background-color: #323632;
    background-image: none;
}

@media (max-width: 1000px) {
    .frontpage-items-container {
        padding: 0;
        margin: 0;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .frontpage-items-container h1 {
        font-size: 60px;
        text-align: center;
    }
    .frontpage-items-container h2 {
        margin-top: 10px;
        font-size: 30px;
        text-align: center;
        width: 75%;
    }
    .frontpage-items-container p {
        margin-top: 10px;
    }
    .aboutus-items-container {
        padding: 0;
        margin: 0;
        padding-top: 50px;
        text-align: center;
        width: 100%;

    }
}
